# loja-amigos-de trilha
loja amigos de trilha localizada na rua vinte de setembro.
missao atender o mercado de motociclistas ,peças,acessorios com copetencia equalidade ,tratando seus clientes de uma forma personalizada e completa
h1{color:#2550255;}o que temos?kit calça +camiseta ,equipamentos infantil,kit de 
<!DOCTYPE html>
<html lang="pt-br">
    <head>
       <meta charset="UTF_8">
    # loja-amigos-de trilha
    <link rel=>stylesheet"href="style.css">
</head> 
<body>
   <h1 style="text-align:center;background:#cccccc">

h1{color:#02550;}<p>loja amigos de trilha localizada na rua vinte de setembro<strong>
h1{color:#00255;}<p style="font-size:20px;"><m nossa missao e:<strong   missao atender o mercado de motociclistas ,peças,acessorios com copetencia equalidade ,tratando seus clientes de uma forma personalizada e completa
p>o que temos?kit calça +camiseta ,equipamentos infantil,h1{color:#25500;}kit de equipamentos motocross ,filtro de ar,cabo de acelerador e embreagem 
,guia da corrente ,peças para suspensao
</body>
</html>

